<!DOCTYPE html>
<a target="_blank" class="tabable" href="<%= url %>" <% if(url==="") {%> onClick='event.preventDefault();'<% } %> ">
    <span class="glyphicon <%= glyphicon %>"></span>
    <%= name %>
</a>
