<!DOCTYPE html>
<a href="#" class="dropdown-toggle <%= id %> tabable" tabindex="0" data-toggle="dropdown" aria-haspopup="true" title="<%= name %>">
    <span class="glyphicon <%= glyphicon %> hidden-sm"></span>
    <span class="menuitem"><%= name %></span>
</a>
<% if (treeType === "light") { %>
    <ul id="<%= id %>" tabindex="-1" class="dropdown-menu light">
    </ul>
<% }
else { %>
    <ul id="<%= id %>" tabindex="-1" class="dropdown-menu">
    </ul>
<% } %>
