<!DOCTYPE html>
<div class="win-heading header">
    <p class="buttons pull-right">
        <span tabindex="0" class="glyphicon glyphicon-remove" title="<%= closeText %>"></span>
    </p>
    <p class="buttons pull-left move">
        <span class="glyphicon <%= icon %> win-icon"></span>
    </p>
    <p class="title move">
        <span><%= name %></span>
    </p>
</div>

<div class="win-body">
</div>
