<!DOCTYPE html>
<div class="layer-settings" >
    <span class="transparency">
        <span class="text"><%=transparencyText%>:</span>
        <span class="glyphicon glyphicon-plus-sign tabable" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="<%=increaseTransparencyText%>"></span>
        <span class="badge"> <%= transparency + '%' %></span>
        <span class="glyphicon glyphicon-minus-sign tabable" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="<%=reduceTransparencyText%>"></span>
    </span>
</div>
