<!DOCTYPE html>
<div class="menu-row">
    <% if (isVisibleInMap === true) { %>
        <a href="#" id="<%= domId %>" class="dropdown-item layer-item tabable checked" tabindex="0">
            <span class="glyphicon glyphicon-check" title="<%=removeTopicText%>"></span>
    <% } else { %>
        <a href="#" id="<%= domId %>" class="dropdown-item layer-item tabable" tabindex="0">
            <span class="glyphicon glyphicon-unchecked" title="<%=showTopicText%>"></span>
    <% } %>
        <% if (isSecured) { %>
            <span class="glyphicon glyphicon-lock" title="<%=securedTopicText%>"></span>
        <% } %>
        <span class="title" title="<%= name %>"><%= name.substr(0,35)%><%if(name.length >= 35) {%>... <% }  %></span>
    </a>
    <span class="last-item">
        <% if (styleable === true) { %>
            <span class="glyphicon glyphicon-tint styleWMS tabable" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="<%=changeClassDivisionText%>"></span>
        <% } %>
        <% if (typeof typ !== "undefined" && typ === "VectorTile" && vtStyles && vtStyles.length > 1) { %>
            <span class="glyphicon glyphicon-tint styleVT tabable" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="Style für Layer auswählen"></span>
        <% } %>
        <% if (typeof datasets !== "undefined" && datasets !== false) { %>
            <span class="glyphicon glyphicon-info-sign tabable" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="<%=infosAndLegendText%>"></span>
        <% } %>
        <% if (showSettings === true) { %>
            <span class="glyphicon glyphicon-cog rotate settings tabable" tabindex="0" title="<%=settingsText%>"></span>
        <% } %>
    </span>
</div>