$darkblueColor: rgba(8, 88, 158, 1);
$darkgreyColor: rgba(85, 85, 85, 1);
$lightgreyColor: rgba(203, 203, 203, 1);
$whiteColor: white;
$hoverOpacity: 0.8;
$borderRadius0: 0;
$borderRadius12: 12px;
$fontSizeBig: 15px;
$fontSizeSmall: 12px;